* {
  box-sizing: border-box;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


.nav{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.siteTitle{
  font-size: 2rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  font-weight: normal;
}

.nav li.active{
  background-color: #555;
}

.nav li:hover{
  background-color: #777;
}

.navbarDropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.dropdownItems {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  margin-top: 1px;
}

.navbarDropdown.active .dropdownItems {
  display: block;
}

.dropdownItems a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.dropdownItems  a:hover{
  background-color: #e0e0e0;
}

.navbarDropdown:hover .dropdownItems {
  display: block;
}



.row{  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}


.side{
  -ms-flex: 30%; 
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


.main{   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.advicePage{
  text-align: center;
}

.footer{
  display: flex;
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: #333;
  color: white;
}
.home-container {
  background-size: cover;
  background-position: center;
  height: 100vh; 
  background-image: url('../public/Background.jpg');
}
.title-container{
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 1;
}

.title{
  font-size: 7rem;
  margin-bottom: 0;
  color: white;
}

.slogan{
  font-size: 1.5rem;
  margin-top: 0.01rem;
  color: white;
}

.homepageInfo{
  color: white;
  background: gray;
  padding: 1rem;
  border-radius: 1rem;
}

.mainContainer{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  font-size: 48px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem{
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer{
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}



.inputContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}



.inputContainer > .errorLabel{
  color: red;
  font-size: 12px;
}

.inputBox{
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}


.buttonGroup{
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  
}

.inputButton{
  height: 48px;
  width: 180px;
  font-size: large;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 0 20px; 
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin: 0 10px;
}

.inputButton:hover{
  background-color: grey;
}

.Products {
  text-align: center;
  padding: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.item {
  flex: 1 1 calc(15% - 20px);
  max-width: 200px;
  min-width: 150px;
  margin: 1vw;
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemInfo {
  flex-grow: 1;
}

.item h3 {
  margin: 0.5vw 0;
}

.item p {
  margin-top: auto;
  font-weight: bold;
  color: rgb(105, 182, 81);
}

.dealsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.dealsTitle {
  padding: 20px;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.inputButton {
  height: 48px;
  width: 180px;
  font-size: large;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin: 0 10px;
}

.inputButton:hover {
  background-color: grey;
}

.amountAdded {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.amountAdded input {
  width: 50px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.amountAdded button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.amountAdded button:hover {
  background-color: darkgreen;
}

.weeklySpecialsTitle{
  text-align: center;
  padding: 20px;
}

.originalPrice{
  margin-right: 0.5rem;
}
